@import "../../themes/vars.less";
@transition-ease-out-1: all 0.3s ease;
.layout {
  position: relative;
  background: #f8f8f8;
  .sider {
    width: 224px;
    background: #3e3e3e;
    position: absolute;
    overflow: visible;
    padding-bottom: 24px;
    height: e("calc(100vh - 47px)");
    transition: @transition-ease-out-1;
    box-shadow: @shadow-1;
    color: #999;

    &.light {
      background: #fff;
    }

    .logo {
      text-align: center;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      margin: 28px 0;
      transition: @transition-ease-out-1;
      overflow: hidden;

      img {
        width: 40px;
        margin-right: 8px;
        transition: @transition-ease-out-1;
      }

      span {
        vertical-align: text-bottom;
        font-size: 24px;
        text-transform: uppercase;
        display: inline-block;
      }

      .anticon {
        transition: @transition-ease-out-1;
      }
    }


    :global {
      .ant-menu-dark,
      .ant-menu-dark .ant-menu-sub {
        color: #999;
      }

      .ant-menu-root {
        height: ~"calc(100vh - 144px)";
        overflow-x: hidden;
        border-right: none;

        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }

        &:hover {
          &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }

        &.ant-menu-vertical {
          .ant-menu-sub {
            height: 0;
            opacity: 0;
            transition: none;
          }

          .ant-menu-submenu-active {
            .ant-menu-sub {
              height: auto;
              opacity: 1;
            }
          }
        }
      }

      .ant-menu {
        transition: @transition-ease-out-1;

        .ant-menu-item,
        .ant-menu-submenu-title {
          overflow: hidden;
          white-space: normal;
        }
      }
    }
  }

  .main {
    margin-left: 224px;
    overflow: auto;
    transition: @transition-ease-out-1;

    :global {
      .content-inner {
        background: #fff;
        padding: 24px;
        box-shadow: @shadow-1;
        min-height: e("calc(100vh - 143px)");
      }
    }

    .container {
      margin: 24px;
    }

    .content {
      min-height: e("calc(100vh - 143px)");
      position: relative;
    }
  }
}

:global .ant-menu-dark {
  color: #999;
  background-color: #3e3e3e;

  .ant-menu-submenu-title:hover,
  .ant-menu-submenu:hover {
    color: @primary-color;
  }

  .ant-menu-sub {
    color: #999;
  }

  .ant-menu-submenu-selected {
    color: @primary-color;

    &:not(.ant-menu-submenu-open) {
      background-color: @dark-half;
    }
  }

  .ant-menu-item,
  .ant-menu-submenu-title {
    & > a {
      color: #999;
    }

    &:hover > a {
      color: @primary-color;
    }
  }

  &.ant-menu-inline {
    .ant-menu-item-selected {
      background-color: @dark-half;
    }
  }

  .ant-menu-item-selected {
    color: @primary-color;
    background-color: @dark-half;

    & > a {
      color: @primary-color;
    }

    &:hover {
      background-color: @dark-half;
    }
  }
}

.spin {
  :global .ant-spin-container {
    height: 100vh;
  }
}
